@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.47%;
    --foreground: 0 0% 9.41%;
    --muted: 0 0% 92.16%;
    --muted-foreground: 0 0% 43.14%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9.41%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9.41%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 243 75% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92.16%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.47%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 100% 68.24%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 3.9%;
    --chart-1: 0 0% 9.41%;
    --chart-2: 0 0% 92.16%;
    --chart-3: 0 0% 96.47%;
    --chart-4: 0 0% 95.16%;
    --chart-5: 0 3% 9.41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5.1%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 8.63%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 8.63%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 68.24%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
    --chart-1: 0 0% 100%;
    --chart-2: 0 0% 14.9%;
    --chart-3: 0 0% 14.9%;
    --chart-4: 0 0% 17.9%;
    --chart-5: 0 3% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #c90000 !important; /* Exemplo: Cor vermelha para as setas */
    /* Você pode adicionar mais estilos como font-size, etc. */
  }
}
